<div class="content-wrapper">

    <div class="card">
        <div class="card-header">
            User form
        </div>
        <div class="card-body">


            
            <form [formGroup]="userForm">

                <label>First Job</label>
                <input id="firstjob" formControlName="firstjob" type="text" class="form-control" placeholder="Add the first job">
                <div *ngIf="getControl.firstjob.invalid && (getControl.firstjob.dirty || getControl.firstjob.touched)" class="alert alert-danger">
                    <div *If="getControl.firstjob.errors?.required">
                        Name cannot be empty
                    </div>
                    <div *ngIf="getControl.firstjob.errors?.minlength">
                        Not enough characters
                    </div>
                    <div *ngIf="getControl.firstjob.errors?.maxlength">
                        The username exceeds the maximum number of characters
                    </div>

                    
                </div>
                
                <br>

                <label>SecondJob</label>
                <input id="secondjob" formControlName="secondjob" type="text" class="form-control" placeholder="Add the secondJob">
                <div *ngIf="getControl.secondjob.invalid && (getControl.email.dirty || getControl.email.touched)" class="alert alert-danger">
                    <div *If="getControl.secondjob.errors?.required">
                        email cannot be empty
                    </div>
                    <div *ngIf="getControl.secondjob.errors?.minlength">
                        Not enough characters
                    </div>
                    <br>
                    
                </div>

                <br>

                <label>ThirdJob</label>
                <input id="thirdjob" formControlName="thirdjob" type="text" class="form-control" placeholder="add thirrd job">
                <div *ngIf="getControl.thirdjob.invalid && (getControl.thirdjob.dirty || getControl.thirdjob.touched)" class="alert alert-danger">
                    <div *If="getControl.thirdjob.errors?.required">
                        cannot be empty
                    </div>
                    
                </div>

                <br>

                <label>Telephone</label>
                <input id="telephone" formControlName="telephone" type="text" class="form-control" placeholder="Add the telephone">
                <br>

                <label>CorporateEmail</label>
                <input id="corporateemail" formControlName="corporateemail" type="text" class="form-control" placeholder="add corporate email">
                <div *ngIf="getControl.corporateemail.invalid && (getControl.school.dirty || getControl.corporateemail.touched)" class="alert alert-danger">
                    <div *If="getControl.corporateemail.errors?.required">
                        cannot be empty
                    </div>
                    
                </div>

                <br>

                <label>PersonalEmail</label>
                <input id="personalemail" formControlName="personalemail" type="text" class="form-control" placeholder="add personal email">
                <div *ngIf="getControl.personaemail.invalid && (getControl.personalemail.dirty || getControl.personalemail.touched)" class="alert alert-danger">
                    <div *If="getControl.personalemail.errors?.required">
                        cannot be empty
                    </div>
                    
                </div>

                <br>
                <button href="home" class="nav-link">Submit</button>

            </form>


        </div>
        <div class="card-footer">

        </div>
    </div>


</div>
